body {
  text-align: center;
  font-family: 'Merriweather', serif;
  margin: 0 0 0 0;
  height:100%;
}

h1 {
    color: #66BFBF;
    font-family: 'Monoton', cursive;
    font-weight: normal;
    line-height: 2;
}

h2 {
    color: #66BFBF;
    font-size: 150%;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
    line-height: 2;
    padding-bottom: 10px;
}

h3 {
    color: #66BFBF;
    font-size: 75%;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.rounded-img {
  border-radius: 50%;
  width: 20%;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 220px;
}

.middle-container {
  padding-top: 70px;
  padding-bottom: 70px;
}

.bottom-container {
  padding: 0;
  margin: 0;
}

.bottom-container p {
  margin-top: 1rem;
  margin-bottom: 0;
  line-height: 1;
}

.blue-background {
  background-color: #E4F9F5;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer {
  background-color: #E4F9F5;
}

.pro {
  text-decoration: underline;
}

.carousel-item {
  padding: 5% 25%;
  text-align: left;
}

.carousel-item h3 {
  font-size: 120%;
}

.carousel-item p {
  font-family: 'Montserrat', sans-serif;
}

.greet {
  font-family: 'Monoton', cursive;
  font-size: 562%;
  margin: 50px auto 0 auto;
  padding-bottom: 35px;
}

.intro {
  margin-bottom: 100px;
}

.intro-p {
  margin: 0 auto;
  width: 50%;
}

.buttom-cloud {
  position: absolute;
  left: 20%;
  top: 10px;
}

.top-cloud {
  position: absolute;
  left: 75%;
  top: 100px;
}

.background-div {
  position: relative;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.c1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.c2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.clear-right {
  clear: right;
}

.clear-left {
  clear: left;
}
.btn-light {
  margin: 5px 5px;
}

.contact-me {
  padding: 50px;
  width: 50%;
  margin: 0px auto;
}

.contact-me h3 {
  font-size: 1em;
}
